{% extends 'base.njk' %}
{% set titleWithPath = 'Home – ' %}
{% set titleOfPage = 'Hackertunity' %}
{% set backgroundImagePath = '/assets/img/yellow-laptop.jpg' %}

{% block content %}

    <style>
        body {
            background-image: url("{{backgroundImagePath}}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        .content {
            display: flex;
            justify-content: space-around;
        }
    </style>

    <section class="page-container">
        <div class="h2-container">
            <h2><span id="titleOfPage">{{titleOfPage}}</span></h2>
        </div>
        <div class="content">
            <img src="/assets/img/logo.png" />
            <div>
                <p>Emd poverty</p>
                <p>Enrich tech.</p>
                <p>Empower the people</p>
            </div>
        </div>
    </section>

{% endblock %}
