{% extends 'page.njk' %}
{% set titleWithPath = 'Mission – ' %}
{% set titleOfPage = 'Our Mission' %}
{% set backgroundImagePath = '/assets/img/classroom.jpg' %}

{% block pageContent %}
    <div class="card">
        <h3>Hackertunity, Inc.</h3>

        <p>
            Hackertunity, Inc. is a non-profit in the process of being established. 
            We’re based in California-- many of us with roots in the Antelope Valley. Our mission:
        </p>

        <p id="mission-statement">
            To break cycles of poverty, empower at-risk populations, and diversify the 
            computer science field by providing training and resources for building community-owned technological solutions.
        </p>

        <p>
            Essentially, we want to give people who could really use it an opportunity to 
            jump-start a new career in tech. We planned to start by partnering with local high schools in the 
            Antelope Valley, targeting at-risk students. We wanted to host a hackathon—an event where they would code their own apps 
            in teams. However, our priorities shifted when the needs of the world shifted.
        </p>

        <p>
            Now we’re focusing on highlighting available resources that could help people with what they’re 
            dealing with around COVID-19. A lot of people have lost their jobs, and even their businesses, and m
            any are unsure of the future of their industries in general. Our focus is to provide resources to people who need
            a shift in their career, or even just need a new and innovative way to quickly make a livable wage during these 
            uncertain times.
        </p>

        <p>
            For more information on the resources that may help, check out the links in the COVID-19 section.
        </p>
    </div>

{% endblock %}