{% extends 'base.njk' %}

{% block content %}

    <style>
        html {
            background-image: url("{{backgroundImagePath}}");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>

    <section class="page-container">
        <div class="h2-container">
            <h2><span id="titleOfPage">{{titleOfPage}}</span></h2>
        </div>

        {% block pageContent %}{% endblock pageContent %}
    </section>

{% endblock %}
