{% extends 'page.njk' %}
{% set titleWithPath = 'Team – ' %}
{% set titleOfPage = 'The Team' %}
{% set backgroundImagePath = '/assets/img/laptops.png' %}

{% macro renderBio(bio) -%}
    <li class="bio-item list-item">
        <div class="bio-item__img">
            {% if bio.imgFile %}
                <img src="/assets/img/{{bio.imgFile}}" />
            {%else%}
                <div class="{{bio.className}}" />
            {% endif %}
        </div>
        <div class="bio-item__bio">
            <h5>{{bio.name}}, {{bio.title}}</h5>
            <p class="pronouns">Pronouns: {{bio.pronouns}}</p>
            <p>{{bio.bio}}</p>
        </div>
    </li>
{%- endmacro %}

{% block pageContent %}

    <div class="card">
        <h3>The Board</h3>
        <ul role="list">
            {%- for bio in team.board %}
                {{ renderBio(bio) }}
            {% endfor -%}
        </ul>
    </div>

    <div class="card">
        <h3>The Committees</h3>
        <hr />
        <h4 class="committee-name">
            Technology Committee
        </h4>
         <ul role="list">
            {%- for bio in team.committees.technology %}
                {{ renderBio(bio) }}
            {% endfor -%}
        </ul>

        <hr />

        <h4 class="committee-name">
            Public Relations Committee
        </h4>
        <ul role="list">
            {%- for bio in team.committees.pr %}
                {{ renderBio(bio) }}
            {% endfor -%}
        </ul>

        <hr />

        <h4 class="committee-name">
            Events Committee
        </h4>
        <ul role="list">
            {%- for bio in team.committees.events %}
                {{ renderBio(bio) }}
            {% endfor -%}
        </ul>
    </div>

{% endblock %}

{% block pageScript %}
    <script src="{{'/assets/js/team.js' | url}}"></script>
{% endblock pageScript %}