{% extends 'page.njk' %}
{% set titleWithPath = 'Team – ' %}
{% set titleOfPage = 'The Team' %}
{% set backgroundImagePath = '/assets/img/laptops.png' %}

{% macro renderBio(bio) -%}
    <div class="bio-item">
        <div class="bio-item__img">
            {% if bio.imgFile %}
                <img src="/assets/img/{{bio.imgFile}}" />
            {% endif %}
        </div>
        <div class="bio-item__bio">
            <h5>{{bio.name}}, {{bio.title}}</h5>
            <p class="pronouns">Pronouns: {{bio.pronouns}}</p>
            <p>{{bio.bio}}</p>
        </div>
    </div>
{%- endmacro %}

{% block pageContent %}

    <style>
        .card h4 {
            font-size: 1.8em;
        }
        .bio-item {
            display: flex;
        }
        .bio-item__bio {
            padding: 10px;
        }
        .bio-item h5 {
            font-size: 1.1em;
            margin-bottom: 0;
        }
        .pronouns {
            margin-top: 5px;
        }
        .bio-item__img {
            display: flex;
            align-items: center;
        }
        .bio-item__img img {
            height: 100px;
            border-radius: 50%;
        }
    </style>

    <div class="card">
        <h3>The Board</h3>
        {%- for bio in team.board %}
            {{ renderBio(bio) }}
        {% endfor -%}
    </div>

    <div class="card">
        <h3>The Committees</h3>
        <hr />
        <h4 class="committee-name">
            Technology Committee
        </h4>
        {%- for bio in team.committees.technology %}
            {{ renderBio(bio) }}
        {% endfor -%}

        <hr />

        <h4 class="committee-name">
            Public Relations Committee
        </h4>
        {%- for bio in team.committees.pr %}
            {{ renderBio(bio) }}
        {% endfor -%}
    </div>

{% endblock %}