{% set navPages = collections.all | eleventyNavigation %}
{% macro renderNavListItem(entry, mobile) -%}
{% set outerLiClassname = 'has-submenu' if mobile else '' %}
{% set hasPopup = 'true' if mobile else 'false' %}
<li aria-haspopup="{{hasPopup}}" aria-expanded="false" class="{{outerLiClassname}}">
{%- if not entry.inertParent-%}
{% set linkClassname = 'nav-link nav-link__active' if page.url === entry.url else 'nav-link' %}
  <a href="{{ entry.url | url }}" class="{{linkClassname}}" {% if page.url == entry.url %}aria-current="page"{% endif %}>{{ entry.title }}</a>
{%- else -%}
  {%if mobile %}
    <button @click="handleClick" class="nav-submenu-title">{{ entry.title }}</button>
  {%else%}
    {%raw%}<button class="nav-submenu-title js" {%endraw%} {{ entry.title }}</button>
  {%endif%}


{%-endif-%}

{%- if entry.children.length -%}
  <ul role="list" class="nav-submenu">
    {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
  </ul>
{%- endif -%}
</li>
{%- endmacro %}

 <div id="vue-nav-menu" class="nav-menu-wrapper no-js">
  <ul role="list" class="nav-menu">
  {%- for entry in navPages %}
    {% if entry.title !== 'Home' %} {{ renderNavListItem(entry, true) }} {%endif%}
  {%- endfor -%}
  </ul>
</div>

