<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Use title with path, or append a space to the page title to avoid collpasing with the meta title #}
    {% set pageTitle = titleWithPath or title + ' ' or '' %}
    <title>{{ pageTitle + metadata.title }}</title>
    <meta
      name="description"
      content="{{ renderData.description or description or metadata.description }}"
    >
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{'/css/index.css' | url}}">
    {% block pageStyles %}
    {% endblock pageStyles %}
  </head>
  <body>
    <header>
        <h1>Hackertunity dot com</h1>
    </header>
    <nav>
        {% include 'components/navbar.njk'%}
    </nav>
    <main>
      <div class="container">
        {% block content %}{% endblock content %}
      </div>
    </main>
    <footer class="site-footer">

    </footer>
    {# Conditionally choose either minified or dev release of Vue #}
    {# project vars defined in site/_data #}
    {% if project.env === 'prod' %}
    <script src="https://unpkg.com/vue@^2.6/dist/vue.min.js"></script>
    {% else %}
    <script src="https://unpkg.com/vue@^2.6/dist/vue.js"></script>
    {% endif %}
    <script src="{{'/js/navbar.js' | url}}"></script>
    {% block pageScript %}
    {% endblock pageScript %}
    <script>
    {# document.addEventListener('DOMContentLoaded',function(e) {
      document.documentElement.classList = 'js'
    }) #}
    </script>
  </body>
</html>
