{% extends 'layouts/base.njk' %}
{% set titleWithPath = 'Home – ' %}

{% block content %}
    {{ content | safe }}

{% endblock %}


{% block pageScript%}
<script src="js/index.js"></script>
{% endblock %}
