{% set navPages = collections.all | eleventyNavigation %}

<ul>
{%- for entry in navPages %}
{% set linkCasses = 'nav-link nav-link__active' if page.url === entry.url else 'nav-link' %}}
  <li>
    <a
      class="{{linkClasses}}"
      href="{{ entry.url | url }}"
    >
      {{ entry.title }}
    </a>
  </li>
{%- endfor %}
</ul>
