{% set navPages = collections.all | eleventyNavigation %}
{% macro renderNavListItem(entry, mobile) -%}
<li>
{%- if not entry.inertParent-%}
{% set linkClassname = 'nav-link nav-link__active' if page.url === entry.url else 'nav-link' %}
  <a href="{{ entry.url | url }}" class="{{linkClassname}}">{{ entry.title }}</a>
{%- else -%}
  {%if mobile %}
    <span class="nav-submenu-title">{{ entry.title }}</span>
  {%else%}
    {%raw%}<button class="nav-submenu-title js" @click="handleClick('bbb')">{%endraw%} {{ entry.title }}</button>
  {%endif%}


{%-endif-%}
{%- if entry.children.length -%}
  <ul role="list" class="nav-submenu">
    {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
  </ul>
{%- endif -%}
</li>
{%- endmacro %}

 <div id="vue-nav-menu" class="nav-menu-wrapper no-js">
 {%raw%}<button type="button" class="nav-toggle">{%endraw%} ${label}</button>
  <ul role="list" class="nav-menu">
  {%- for entry in navPages %}
    {% if entry.title !== 'Home' %} {{ renderNavListItem(entry, true) }} {%endif%}
  {%- endfor -%}
  </ul>
</div>

