{% set navPages = collections.all | eleventyNavigation %}
{% macro renderNavListItem(entry) -%}
<li>
{%- if not entry.inertParent-%}
{% set linkClassname = 'nav-link nav-link__active' if page.url === entry.url else 'nav-link' %}
  <a href="{{ entry.url | url }}" class="{{linkClassname}}">{{ entry.title }}</a>
{%- else -%}
  <span class="nav-submenu-title">{{ entry.title }}</span>
{%-endif-%}
{%- if entry.children.length -%}
  <ul role="list" class="nav-submenu">
    {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
  </ul>
{%- endif -%}
</li>
{%- endmacro %}

{# Will render no imitially, automatically expanded #}
<div class="nav-menu-wrapper no-js">
  <ul role="list" class="nav-menu">
  {%- for entry in navPages %}
    {% if entry.title !== 'Home' %} {{ renderNavListItem(entry) }} {%endif%}
  {%- endfor -%}
  </ul>
</div>

{# Will replace the no-js version of the list #}
{# when DOM loaded; initially collapsed #}
<div id="vue-nav-menu" class="nav-menu-wrapper js">
  <button type="button" class="nav-toggle">${label}</button>
  <ul role="list" class="nav-menu">
    {% if entry.title !== 'Home' %} {{ renderNavListItem(entry) }} {%endif%}
  </ul>
</div>
