/*  NAV COMPONENT   */

nav {
    background-color: #263238;
    color: #fff;
  }
  
  .nav-menu-wrapper {
    width: initial;
    height: 100%;
  }
  
  .nav-toggle {
    background-color: #fff;
    border: 2px solid transparent;
    margin-left: 1rem;
  }
  
  .nav-menu-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 100%;
  }
  
  .nav-menu-wrapper a {
    color: inherit;
  }
  
  .nav-submenu {
    display: flex;
  }
  
  .nav-link,
  .nav-submenu-title {
    display: block;
    padding: 0.5rem 1rem;
    height: 100%;
    width: 100%;
  }
  
  .nav-submenu-title {
    font-weight: bold;
    font-size: 2rem;
  }
  
  .nav-link__active {
    font-weight: bold;
  }
  
  /*  NAV COMPONENT   */

.has-submenu {
    position: relative;
    width: 100%;
}

.has-submenu > ul {
    display: none;
}

.has-submenu.open > ul {
    display: block;
    background-color: #263238;
    z-index: 10;
    position: absolute;
    width: 100%;
}