*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-size: 62.5%;
}

/**
 * Once JS loads, replace .no-js components with
 * components that can use js
 */

html.no-js .js {
  display: none;
}

html.js .no-js {
  display: none;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  line-height: 1.25;
  margin: 0;
}

h1,
h2,
p {
  max-width: 65ch;
}

header > *,
nav > *,
main > * {
  width: 95%;
  max-width: 100rem;
  margin: auto;
}

/*  NAV COMPONENT   */

nav {
  background-color: #263238;
  color: #fff;
}

.nav-menu-wrapper {
  width: initial;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav-menu-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu-wrapper a {
  color: inherit;
}

.nav-link,
.nav-submenu-title {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-submenu-title {
  font-weight: bold;
  font-size: 2rem;
}

.nav-link__active {
  font-weight: bold;
}

/*  NAV COMPONENT   */
