*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus {
  outline: 3px solid goldenrod;
}

html {
  font-size: 10px;
  font-size: 62.5%;
}

/**
 * Once JS loads, replace .no-js components with
 * components that can use js
 */

html.no-js .js {
  display: none;
}

html.js .no-js {
  display: none;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  line-height: 1.25;
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

h1,
h2,
p {
  max-width: 65ch;
}

header > *,
nav > *,
main > * {
  width: 95%;
  max-width: 100rem;
  margin: auto;
}

/*  NAV COMPONENT   */

nav {
  background-color: #263238;
  color: #fff;
}

.nav-menu-wrapper {
  width: initial;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav-toggle {
  background-color: #fff;
  border: 2px solid transparent;
  margin-left: 1rem;
}

.nav-menu-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav-menu-wrapper a {
  color: inherit;
}

.nav-submenu {
  display: flex;
  flex-direction: column;
}

.nav-link,
.nav-submenu-title {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-submenu-title {
  font-weight: bold;
  font-size: 2rem;
}

.nav-link__active {
  font-weight: bold;
}

/*  NAV COMPONENT   */
